.find-attraction-container {
  height: 100%;
  width: 100%;
  display: flex;
}

.map-place-container {
  height: 100%;
  width: 100%;
}

.sidebar {
  width: 40%;
}

/* .my-select-type {
  .react-select__control {
    width: 100px;
    height: 10px;
  }

  .react-select__menu {
    width: 100px;
    max-height: 50px;
  }
} */

.typography {
  margin-top: 10px;
  margin-bottom: 10px;
}
